.custom-navbar {
  background-color: DarkSlateGray;
  font-size: 18px;

  .navbar-brand {
    color: Chartreuse;
  }

  .nav-link {
    color: Chartreuse;

    &:hover {
      color: Seashell;
    }
  }

  .btn-outline-secondary {
    color: Chartreuse;
    border-color: Seashell;

    &:hover {
      background-color: Chartreuse;
      color: DimGray;
    }
  }
}
