.movie-card-img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.remove-button {
  color: whitesmoke;
  background-color: DarkSlateGray;
  border: none;
  border-radius: 4px;
}

.movie-card {
  max-width: 800px;
  margin: 0 auto;
}

.fav-movie-container {
  max-height: 95vh;
  margin: 0 auto;
  overflow-y: auto;
}

.card .remove-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
