.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: DarkSlateGray;
  border: none;
  border-radius: 4px;
}

.movie-card {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}
