$primary: DarkSlateGray;
$body-bg: DarkGray;

.btn-primary {
  border-color: $primary;

  &:hover,
  &:focus {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
